@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('../fonts/glyphicons-halflings-regular.ttf');

h1, h2, h5 {
	font-family: 'Fjalla One', sans-serif;
}

.brend-red {
	background: url(https://g.europe.newsweek.com/www/img/redesign/sprite.png);
	width: 230px;
	height: 100%;
	border: 3px solid red;
}

.nw-style {
	background: black;
	border-radius: 0;
	color: white;
}

.navbar-static-top {
	border: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.glyphicon {
	font-family: serif;
}

nav > ul > li {
	font-family: sans-serif;
	font-weight: bold;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

nav > ul > li:hover {
	border-bottom: 3px solid red;
}